div#hexmap {
  position: absolute;
  top:-5;
  font-size: 200%;
}

div.hidden {
  display: none;
}

.button{
background:url(images/three.png);
position: left;
}

.player1{
position: absolute;
padding-top: 10px;
left: 5px;
width: 125px;
}
.player2{
position: absolute;
padding-top: 10px;
left: 120px;
width: 125px;
}
.player3{
position: absolute;
padding-top: 10px;
left: 235px;
width: 125px;
}
.player4{
position: absolute;
padding-top: 10px;
left: 350px;
width: 125px;
}
.player5{
position: absolute;
padding-top: 10px;
left: 465px;
width: 125px;
}
.player6{
position: absolute;
padding-top: 10px;
left: 580px;
width: 125px;
}
.territoryInfo{
position: absolute;
padding-left: 55px;
padding-bottom: 30px;
}
.player2Territory{
position:absolute;
padding-top: 100px;
}
.opacity{
opacity:1.0;
}
.opacity:hover{
opacity:0.75;
}
.opacity:active{
border-color: lime;
}

.die_0_0{
position: absolute;
left: 1200px;
top: 115px;
size: 50px 50px;
}
.die_0_1{
position: absolute;
left: 1300px;
top: 115px;
size: 50px 50px;
}
.die_0_2{
position: absolute;
left: 1400px;
top: 115px;
size: 50px 50px;
}
.die_1_0{
position: absolute;
left: 1200px;
top: 360px;
size: 50px 50px;
}
.die_1_1{
position: absolute;
left: 1300px;
top: 360px;
size: 50px 50px;
}
.die_1_2{
position: absolute;
left: 1400px;
top: 360px;
size: 50px 50px;
}

